<!-- business-unit/src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Partidos LaLiga</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div>"pene"</div>
<div class="match-list">
    <ul>
        <li th:each="match : ${matches}">
            <a th:href="@{/match/{id}(id=${match.id})}" th:text="${match.teamHome + ' vs ' + match.teamAway}"></a>
        </li>
    </ul>
</div>
</body>
</html>