<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enfrentamientos LaLiga</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="match-list-container">
    <h1>Próximos Partidos LaLiga</h1>
    <ul class="match-list" th:if="${not #lists.isEmpty(matches)}">
        <li th:each="match : ${matches}">
            <a th:href="@{/laliga/match/{matchId}(matchId=${match.id})}">
                <span th:text="${match.teamHome}">Equipo Local</span>
                VS
                <span th:text="${match.teamAway}">Equipo Visitante</span>
            </a>
        </li>
    </ul>
    <div th:if="${#lists.isEmpty(matches)}">
        <p>No hay partidos disponibles en este momento.</p>
    </div>
</div>
</body>
</html>